set gdefault
set ignorecase


" ============================================================================
" " Movement
" " ==========================================================================


" Home row beginning / end of line
" noremap h ^
" noremap l $
