<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>7.0.3</string>
	<key>SD5ConversionOffered</key>
	<false/>
	<key>SDAddUsedLibrariesOnExport</key>
	<integer>0</integer>
	<key>SDAutoIncBuildNumber</key>
	<false/>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDCocoaTermsInProperties</key>
	<true/>
	<key>SDCodesignIdentity</key>
	<string>Mac Developer: vici.heyuhua@gmail.com (2G4H5T5RLU)</string>
	<key>SDCodesignOnlyOnExport</key>
	<false/>
	<key>SDExpressions</key>
	<array>
		<string>themenu</string>
		<string>value of themenu</string>
		<string>static text "Rotation:" of theGroup</string>
	</array>
	<key>SDFolds</key>
	<string>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0
b3ASAAGGoKMHCA1VJG51bGzSCQoLDFpOUy5vYmplY3RzViRjbGFzc6CAAtIODxAR
WiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlY
TlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdUcm9vdIABCBEaIy0yNztBRlFY
WVtga3SDh4+Yqq2yAAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=</string>
	<key>SDHideCodeFolding</key>
	<false/>
	<key>SDPersistentGlobals</key>
	<false/>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>785E0107-90E3-46DE-9B3C-2D640ADC37D0-5330-000173CDCFEECFC2</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>336</integer>
								<integer>429</integer>
								<integer>168</integer>
							</array>
							<key>5</key>
							<array>
								<integer>214</integer>
								<integer>63</integer>
								<integer>328</integer>
								<integer>56</integer>
								<integer>83</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>aepState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>23</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<false/>
								<key>LNSTextViewShowSpaces</key>
								<false/>
								<key>LNSTextViewShowTabStops</key>
								<false/>
								<key>LNSTextViewWrapLines</key>
								<true/>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {738, 233.5}}</string>
							</dict>
						</dict>
						<key>explorerState</key>
						<dict>
							<key>dividerPos</key>
							<real>150</real>
							<key>scope2.changedItems</key>
							<false/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<false/>
							<key>scope2.props</key>
							<false/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
						<key>fileSpecState</key>
						<dict/>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
						<key>sourceState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>8</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<false/>
								<key>LNSTextViewShowSpaces</key>
								<false/>
								<key>LNSTextViewShowTabStops</key>
								<false/>
								<key>LNSTextViewWrapLines</key>
								<true/>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {738, 233.5}}</string>
							</dict>
						</dict>
						<key>textState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>1</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<false/>
								<key>LNSTextViewShowSpaces</key>
								<false/>
								<key>LNSTextViewShowTabStops</key>
								<false/>
								<key>LNSTextViewWrapLines</key>
								<true/>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {738, 233.5}}</string>
							</dict>
						</dict>
					</dict>
					<key>stackVisible</key>
					<true/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>303</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<true/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>427</real>
				<key>eventLogViewState</key>
				<dict>
					<key>format</key>
					<string>EventLogScopeBar_Source</string>
					<key>resultState</key>
					<dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
					</dict>
					<key>resultViewerWidth</key>
					<real>410</real>
					<key>scopeVisible</key>
					<true/>
					<key>showResultViewer</key>
					<false/>
				</dict>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>144</real>
						<key>searchFlags</key>
						<integer>167784446</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>224</integer>
								<integer>388</integer>
								<integer>289</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>288</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<true/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplitPosition</key>
				<real>702</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>252</integer>
								<integer>613</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>961</integer>
								<key>location</key>
								<integer>0</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<false/>
						<key>LNSVisibleRect</key>
						<string>{{0, 0}, {442, 323}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<true/>
					</dict>
					<key>instanceID</key>
					<string>1C3728B9-4A67-46C0-8F44-9B232AFCA44D-5330-000173CDF14B8703</string>
					<key>resultBarVisible</key>
					<false/>
					<key>showProgressBar</key>
					<true/>
				</dict>
				<key>showEventLog</key>
				<true/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>999</real>
					<key>tab.debug</key>
					<real>439</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>785E0107-90E3-46DE-9B3C-2D640ADC37D0-5330-000173CDCFEECFC2</string>
				<key>windowFrame</key>
				<string>335 152 1204 840 0 0 1920 1200 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>ScriptWindowController</string>
				<key>controllerID</key>
				<string>785E0107-90E3-46DE-9B3C-2D640ADC37D0-5330-000173CDCFEECFC2</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>windowFrame</key>
					<string>335 152 1204 840 0 0 1920 1200 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
